/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.content{
    padding: 40px 0;
}

.show-for-md{
    display: none;
    @include md{
        display: block;
    }
}
