/* =============
    Base
============= */

html{
    background-color: var(--white);
    scroll-behavior: smooth;
}
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.content{
    padding: 32px 0;
}

.show-for-md{
    display: none;
    @include md{
        display: block;
    }
}

