/* =============
    Typography
============= */
body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-weight: 300;
    color: $blue;
    // margin-bottom: 40px;
}


h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}