
#g1{
    background-image: url('../img/gallery/gallery-1.jpg')
}

#g2{
    background-image: url('../img/gallery/gallery-2.png')
}

#g3{
    background-image: url('../img/gallery/gallery-3.png')
}

#g4{
    background-image: url('../img/gallery/gallery-4.jpg')
}

#g5{
    background-image: url('../img/gallery/gallery-5.png')
}

#g6{
    background-image: url('../img/gallery/gallery-6.jpg')
}

#g7{
    background-image: url('../img/gallery/gallery-7.jpg')
}

#g8{
    background-image: url('../img/gallery/gallery-8.jpg')
}

#g9{
    background-image: url('../img/gallery/gallery-9.jpg')
}

#g10{
    background-image: url('../img/gallery/gallery-10.jpg')
}

#g11{
    background-image: url('../img/gallery/gallery-11.jpg')
}

#g12{
    background-image: url('../img/gallery/gallery-12.jpg')
}

#g13{
    background-image: url('../img/gallery/gallery-13.jpg')
}

#g14{
    background-image: url('../img/gallery/gallery-14.jpg')
}

#g15{
    background-image: url('../img/gallery/gallery-15.jpg')
}

#g16{
    background-image: url('../img/gallery/gallery-16.jpg')
}

#g17{
    background-image: url('../img/gallery/gallery-17.png')
}

#g18{
    background-image: url('../img/gallery/gallery-18.png')
}

#g19{
    background-image: url('../img/gallery/gallery-19.png')
}

#g20{
    background-image: url('../img/gallery/gallery-20.png')
}

#g21{
    background-image: url('../img/gallery/gallery-21.png')
}

#g22{
    background-image: url('../img/gallery/gallery-22.png')
}

#g23{
    background-image: url('../img/gallery/gallery-23.png')
}

#g24{
    background-image: url('../img/gallery/gallery-24.png')
}

#g25{
    background-image: url('../img/gallery/gallery-25.png')
}

#g26{
    background-image: url('../img/gallery/gallery-26.png')
}

#g27{
    background-image: url('../img/gallery/gallery-27.png')
}

#g28{
    background-image: url('../img/gallery/gallery-28.png')
}

#g29{
    background-image: url('../img/gallery/gallery-29.png')
}

#g30{
    background-image: url('../img/gallery/gallery-30.png')
}

#g31{
    background-image: url('../img/gallery/gallery-31.png')
}

#g32{
    background-image: url('../img/gallery/gallery-32.png')
}

#g33{
    background-image: url('../img/gallery/gallery-33.png')
}

#g34{
    background-image: url('../img/gallery/gallery-34D.jpg')
}

#g35{
    
    .light-mode{
        background-image: url('../img/gallery/gallery-35D.jpg')
    }

    .dark-mode{
        background-image: url('../img/gallery/gallery-35N.jpg')
    }


}

#g36{
    background-image: url('../img/gallery/gallery-36.png')
    
}