/* =============
    Hero
============= */
#hero{
    background-image: url("../img/hero/hero-1.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 90% center;
    background-color: var(--black);

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include lg{
        background-position: right center;
    }

    >div{
        text-align: center;
        position: relative;
        z-index: 10;
        width: 80%;

        @include md{
            width: 50%;
        }

        @include lg{
            width: 30%;
        }   

        svg{
            width: 100%;
        }
    }

    #night-time-hero{
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("../img/hero/hero-2.jpg");
        background-size: cover;
        background-position: 90% center;
        z-index: 2;

        @include lg{
            background-position: right center;
        }
    }

}