#hero{
    background-image: url("../img/hero/hero.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: $white;

    display: flex;
    justify-content: center;
    align-items: center;

    >div{
        border: 1px solid red;
    }

}