/* =============
    Welcome
============= */
@use "../helpers";
#welcome {
	display: grid;
	grid-template-columns: 16px auto 16px;
	grid-template-areas: ". welcome .";

	@include helpers.md {
		grid-template-columns: auto 75% auto;
	}

    @include helpers.lg {
		grid-template-columns: auto 60% auto;
	}

    @include helpers.xl {
		grid-template-columns: auto 800px auto;
	}

	> div {
		grid-area: welcome;

        h1{
            font-weight: 300;
            font-size: helpers.rem-calc(30);
            margin-bottom: 16px;
        }

        p{
            margin-bottom: 16px;
            font-size: helpers.rem-calc(18);
            line-height: helpers.rem-calc(30);
        }

        #callout{
            background-color: var(--light-gray);
			padding: 24px;
			border-radius: 4px;
            text-align: center;

            @include helpers.md{
                width: 75%;
                margin: 24px auto;
            }

            @include helpers.lg{
                width: 85%;
                margin: 48px auto;
            }
            

            h2{
                font-weight: 300;
                font-size: helpers.rem-calc(30);
                margin-bottom: 16px;
                text-align: left;

                @include helpers.md{
                    text-align: center;
                }

                @include helpers.xl{
                    font-size: helpers.rem-calc(33);
                }
            }
        }

        button{
            border: none;
            background-color: transparent;
            background-color: var(--blue);
            padding: 10px;
            margin-top: 16px;
            color:var(--white);
            transition: 0.25s;
            cursor: pointer;
            font-size: helpers.rem-calc(20);

            @include helpers.md{
                font-size: helpers.rem-calc(18);
            }

            &:hover{
                background-color: var(--dark-blue);
            }

            i{
                margin-right: 10px;
            }
        }
    }
}