/* =============
    Header
============= */
header {
    background-color: var(--white);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    right:0;

    >div{
        padding: 8px 16px;
        display: grid;
        grid-template-columns: auto 20% 20%;

        @include md{
            grid-template-columns: auto 10% 10%;
            gap: 16px;
        }

        @include lg{
            grid-template-columns: auto 25% 5%;
        }

        #logo-container{
            

             a:link, a:visited{
                display: flex;
                align-items: center;
                text-decoration: none;

                svg{
                    width: 30px;
                    border-right: 1px solid var(--dark-gray);
                    padding-right: 16px;
                    margin-right: 16px;
                }
    
                h1{
                    font-size: rem-calc(16);
                    font-weight: 400;
                    
                }
             }
            
        }

        #mode-container{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 16px;
            
            svg{
                width: 40px;

                #sun-shape{
                    display: none;
                }
            }
        }

        #contact-container{
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid var(--dark-gray);
            svg{
                width: 35px;
            }
        }
    }
}