/* =============
    Header
============= */
header {
    background-color: $white;
    display: grid;
    grid-template-columns: 20% auto;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    right:0;

    #logo-container {
        padding: 0px 0 0px 0px;
        display: flex;
        align-items: center;

        svg {
            height: 30px;

            @include lg {
                height: 40px;
            }
        }
    }

    aside {
        padding: 10px 0;

        >div {
            display: grid;
            grid-template-columns: auto 20%;
            height: 100%;
            width: 100%;

            #mode-container {
                align-items: center;
                cursor: pointer;
                display: flex;
                justify-content: flex-end;
                text-align: center;
                padding-right: 16px;

                svg {
                    width: 40px;
                }

                ul {
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    li {
                        border: 1px solid transparent;
                        display: flex;
                        font-size: rem-calc(11);
                        overflow: hidden;
                        width: 10px;

                        div {
                            border: 1px solid transparent;
                            font-family: 'Nova Mono', monospace;
                            width: 100%;

                            &.dark {
                                color: $charcoal;
                            }

                            &.light {
                                color: $white;
                            }
                        }
                    }

                    #last-letter {
                        display: none;
                    }
                }
            } 
        }
    }
}