/* =============
    Navigation
============= */
nav{
    height: 100%;
    ul{

        // border: 1px solid red;

        @include md{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            
        }

        li{
            // border-right: 1px solid black;
            // border: 1px solid red;
            // padding: 16px;

            a:link, a:visited{

                text-decoration: none;
                color: var(--dark-blue);
                    &:hover, &:active{

                    }
            }
        }
    }
}